<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Wavesters\Subscription\Api\AddSubscriptionManagementInterface" type="Wavesters\Subscription\Model\AddSubscriptionManagement"/>
	<preference for="Wavesters\Subscription\Api\GetSubscriptionManagementInterface" type="Wavesters\Subscription\Model\GetSubscriptionManagement"/>
	<preference for="Wavesters\Subscription\Api\SubscriptionRepositoryInterface" type="Wavesters\Subscription\Model\SubscriptionRepository"/>
	<preference for="Wavesters\Subscription\Api\Data\SubscriptionInterface" type="Wavesters\Subscription\Model\Subscription"/>
	<preference for="Wavesters\Subscription\Api\Data\SubscriptionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Wavesters\Subscription\Model\ResourceModel\Subscription\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">wavesters_subscription_subscription</argument>
			<argument name="resourceModel" xsi:type="string">Wavesters\Subscription\Model\ResourceModel\Subscription\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="wavesters_subscription_subscription_listing_data_source" xsi:type="string">Wavesters\Subscription\Model\ResourceModel\Subscription\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
